<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <property name="LOGS_DIRECTORY" value="${LOGS_DIRECTORY:-./logs}"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </layout>
    </appender>

    <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_DIRECTORY}/transaction.log</file>

        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss}. [%.9thread] %level. %m%n</pattern>
        </layout>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_DIRECTORY}/transaction-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>50</maxHistory>
            <totalSizeCap>1024MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <root level="info">
        <appender-ref ref="Console"/>
    </root>

    <logger
            name="com.bank.transaction"
            level="${TRANSACTION_LOG_LEVEL:-INFO}"
            additivity="false">
        <appender-ref ref="${TRANSACTION_LOG_APPENDER:-File}"/>
    </logger>

</configuration>